
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.container{
    display: flex;
    justify-content: center;
    padding: 160px;
}

.calculadora{
    width: 370px;
    height: 570px;
    background-color: #C6B4A5;
    display:grid;
    grid-template-columns: repeat(4,80px);
    grid-template-rows: 130px repeat(6,80px);
    justify-content: center;
    border-radius: 20px;
    padding-top: 1.3rem;
}

.calculadora button{
    font-size: 1.5rem;
    background-color: #F7DFCD;
    border-radius: 10px;
    border:1px #AA988C solid;
    margin:2px;
    font-family: "Noto Sans JP", sans-serif;
}

.calculadora button:hover{
    background-color: #F9EDE5;
}

.display{
    height: 120px;
    background-color: #FFFFFF;
    opacity: .8;
    grid-column: 1/-1;
    border-radius: 10px;
    border:1px #AA988C solid;
    padding:8px;
    text-align: end;
    font-family: "Noto Sans JP", sans-serif;
    overflow: auto;
}

.span2{
    grid-column: span 2;
    padding-top: 5px;
}


.valor-superior{
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.valor-inferior{
    font-size: 2rem;
    justify-self: flex-end;
}